<div class="container">
  <div *ngIf="gameStatus === 'NOT_STARTED'">
    <button class="action" (click)="playGame()">Start</button>
  </div>

  <div class="game-menu" *ngIf="gameStatus === 'STARTED'">
    <h2>
      Available tries {{tries}}
    </h2>

    <div>
      <button class="letter" *ngFor="let i of getSecret()">
          {{i}}
      </button>
    </div>

    <div class="solutions" >
        <button *ngFor="let letter of letters" class="letter" (click)="onStep(letter)" [disabled]="solutions.includes(letter)">{{letter}}</button>
    </div>
  </div>

  <div *ngIf="gameStatus === 'LOST'">
    You LOST
    <button class="action" (click)="playGame()">Play again</button>

    <div>
      Statistics:

      <p>
        Total games: {{stats.games}}
      </p>
      <p>
        Won: {{stats.won}}
      </p>
      <p>
        Lost: {{stats.lost}}
      </p>
      <p>
        Total click: {{stats.click}}
      </p>
    </div>
  </div>

  <div *ngIf="gameStatus === 'WON'">
    You WON
    <button class="action" (click)="playGame()">Play again</button>

    <div>
      Statistics:

      <p>
        Total games: {{stats.games}}
      </p>
      <p>
        Won: {{stats.won}}
      </p>
      <p>
        Lost: {{stats.lost}}
      </p>
      <p>
        Total click: {{stats.click}}
      </p>
    </div>

  </div>

</div>
